doctype html
html(lang=sv)
  meta(charset="utf-8")
  head
    title Fruktkartan API
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cutestrap/1.3.1/css/cutestrap.min.css")
  body
    div.wrapper
      block content
